/*

font-family: 'Quicksand', sans-serif; <-- titles/headings
font-family: 'Source Sans Pro', sans-serif; <-- standard text

*/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body {
  background-color: #000000;
}

#full-container {
  scroll-snap-align: start;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-image: url("https://cdn.glitch.global/4fddc2d2-8afe-4546-a021-281e7b5d551b/stars%202.png?v=1653193100979");
  background-size: cover;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.scene-container {
  scroll-snap-align: start;
}

.gradient-background {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 20%,
    rgba(0, 0, 0, 0.15) 40%,
    rgba(0, 0, 0, 0.15) 60%,
    rgba(0, 0, 0, 0.1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

.mainlogo {
  border-radius: 25px;
  margin-left: 20px;
}

.white {
  color: white;
}

#primaryTitle {
  font-size: 60px;
  padding-left: 12px;
  text-shadow: 3px 3px black;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.ssp {
  font-family: "Source Sans Pro", sans-serif;
}

.nav-link {
  font-size: 20px;
}

/* unvisited link */
.nav-link:link {
  color: #ffffff;
}

/* visited link */
.nav-link:visited {
  color: #ffffff;
}

/* mouse over link */
.nav-link:hover {
  color: #cccccc;
}

/* selected link */
.nav-link:active {
  color: #adadad;
}

.navbar-brand:hover {
  filter: brightness(90%);
}

.container-fluid {
  margin-top: 5px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#hero-name {
  font-family: "Quicksand", sans-serif;
  font-size: 60px;
}

.hero-paragraph {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
}

.about {
  scroll-snap-align: start;
  background-color: #7604a3;
  padding-top: 50px;
  padding-bottom: 60px;
}

.about h1 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  padding-top: 40px;
  color: #ffffff;
  scroll-behavior: smooth;
}

.about p {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  padding-top: 10px;
  color: #ffffff;
}

#mainhelpright {
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 20px;
  color: #edf3ff;
  font-size: 1em;
  background-color: #0d6180;
  padding-bottom: 30px;
  text-shadow: 1px 1px #000000;
  margin-top: 30px;
  border-radius: 0px 25px 25px 0px;
  padding-right: 10px;
  margin-right: 20px;
}

#mainhelpleft {
  padding-top: 20px;
  color: #0d6180;
  font-size: 3em;
  background-color: #ffffff;
  padding-bottom: 30px;
  margin-top: 30px;
  border-radius: 25px 0px 0px 25px;
  padding-right: 30px;
}

.fa-angle-right {
  margin-left: auto;
  margin-right: auto;
  flex-grow: 0;
}


.howtohelp {
  scroll-snap-align: start;
  background-image: url("https://cdn.glitch.global/4fddc2d2-8afe-4546-a021-281e7b5d551b/stars%202.png?v=1653193100979");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 90px;
}

.howtohelp h1 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  padding-top: 100px;
  color: #ffffff;
  text-shadow: 2px 5px #000000;
  scroll-behavior: smooth;
  margin-bottom: 30px;
}

.howtohelp div{
  margin:0 !important;
}

.finalhelp {
  margin-bottom: 0px;
  margin-top: 200px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  padding-top: 40px;
  color: #ffffff;
  scroll-behavior: smooth;
}

.linkthing {
  color: #6bd8ff;
  text-decoration: none;
}

.linkthing:hover {
  color: #51c1e8;
}

#greenintro {
  font-size: 1.2em;
}

#authors {
  color: #d1d1d1;
  opacity: 0.90;
  margin-bottom: 0;
}

#copyright {
  padding-top: 0px;
  font-size: 16px;
  color: #878787;
  opacity: 0.90;
}










/*

Scrolling Button

*/

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFFFFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/*

Scrolling Button End

*/

section {
  position: relative;
  width: 100%;
  height: 100%;
}

.scroll2 {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
  position: absolute;
  bottom: 50px;
  left: 80%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFFFFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll2:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@media only screen and (max-width: 600px) {
  #mainhelpright{
    border-radius:0;
  }
  #mainhelpleft{
    display:none;
  }
}